<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641172599943-c24n4qti52kv6bkk99tst79hf72soat6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641172599943-c24n4qti52kv6bkk99tst79hf72soat6</string>
	<key>API_KEY</key>
	<string>AIzaSyDvXV55MAHcxySTKXGLc6X4Fb0Pru0kruo</string>
	<key>GCM_SENDER_ID</key>
	<string>641172599943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dotulong.broilerfarm</string>
	<key>PROJECT_ID</key>
	<string>chickenfarm-5f26a</string>
	<key>STORAGE_BUCKET</key>
	<string>chickenfarm-5f26a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:641172599943:ios:31ba8f502a164f55</string>
	<key>DATABASE_URL</key>
	<string>https://chickenfarm-5f26a.firebaseio.com</string>
</dict>
</plist>
